body { font-size: 14px;font-family: "Lucida Grande", Helvetica, Arial; -webkit-font-smoothing: antialiased; color: #555; margin: 0; padding: 0; background: #f8f8f8;line-height: 21px; }
a { text-decoration: none; /*color: #2090D6;*/ color: #3d3d3d;}

h1,h2 { margin: 20px 0px;color: #ffffff; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300;}

h1 { font-size: 3em; font-weight: bold;}
h2 { font-size: 2em;}

.inner { max-width: 880px; width: auto; margin: 0 auto; text-align: center; z-index: 2; position: relative; }

#bg_wrapper { z-index: 0;c background-size: cover; background-image: url('/images/bg_2.jpg'); background-position: center; background: #3d3d3d;width: 100%; height: 100%; position: fixed; top: 0; left: 0;}
#headline { margin: 0 auto; width: 100%;}
.wrapper { position: absolute; width: 100%;}
.wrapper .inner{ background: rgba(255,255,255,1); position: relative; z-index: 3; border-radius: 2px; padding: 20px 30px 20px; margin: 0 auto 50px;}
#top_core { max-width: 820px; width: auto; background: white; margin: 8px auto 10px; z-index: 4;  display: block; height: 10px; -webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;}
/* NEW STYLES */

#items li {
    padding: 15px 10px ;
    list-style: none;
    border-bottom: 1px solid #f1f1f1;
    overflow: auto;
    color: #555;
    cursor: pointer;
}

#items li:hover { background: #f9f9f9; color: #111;}
#items li:hover > div { color: #3d3d3d;}
#items li:hover .title { color: #111;}

#items li:last-child { border: none;}

#items li div {
    float: left ;
    min-width: 20px;

}

#items {
	margin: 0;
	padding: 0;
    margin-top: 15px ;

}

#items li .author, #items li .meta, #items li .points {
    margin: 0px 10px;
    float: right;
    color: #cdcdcd;
}

#items li .title {
	width: 450px;
    float: left;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	font-size: 1.1em;
}

#items li .post_number {
    color: #999;
    font-size: 1.5em;
    text-align: center;
    width: 50px;
    font-weight: bold;
    display: none;
}

.pull-right { background: #91cfa1; border-radius: 3px; text-shadow: none; padding: 5px; color: #ffffff; font-weight: bold}

#wrapper.stuck { position: fixed; top: 30px;}

.settings { width: 50px; height: 50px; position: fixed; top: 20px; left: 20px; background-image: url('/images/menu_icon.png');display: block; z-index: 1;}

#page_ind { width: 100%; position: fixed; text-align: center; display: block; z-index: 1; margin-top: 30px;}
.page_i { width: 15px ; height: 15px; border-radius: 50px; background: rgba(0,0,0,0.15); display: inline-block; margin: 10px;}
.page_i.selected { background: #ffffff;}

