<!DOCTYPE html>
<html>
<head>
<title>feed.me</title>
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/core.css" />
<link rel="stylesheet" type="text/css" href="/css/multilevelmenu.css" />
<link rel="stylesheet" type="text/css" href="/css/component.css" />
<link rel="stylesheet" type="text/css" href="/css/animations.css" />
</head>

<body>

<div id="settings_btn"><span id="trigger" class="settings"></span></div>
<div class="container">
<div id="right_action"></div>
      <div id="pt-main" class="pt-perspective">
      
      <div class="mp-pusher" id="mp-pusher">
        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu">
          <div class="mp-level">
            <h2 class="icon icon-world">Feed Categories</h2>
            
              <ul id="categories-list">

              </ul>

          </div>
        </nav>
        <!-- /mp-menu -->

        <div class="pt-page pt-page-1">
        <div id="headline">
          <div class="bottom">
            <img src="images/logo.png" />
            <!-- <h1>feed.me </h1> -->
            <!-- <h2>You news... thats all</h2> -->
        </div>
        </div>

        <div class="wrapper">
        <div class="inner">