<!DOCTYPE html>
<html>
<head>
<title>feed.me</title>
<link rel="stylesheet" type="text/css" href="css/default.css" />
<link rel="stylesheet" type="text/css" href="css/core.css" />
<link rel="stylesheet" type="text/css" href="css/multilevelmenu.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link rel="stylesheet" type="text/css" href="css/animations.css" />
<script src="js/modernizr.custom.js"></script>
</head>

<body>
 <button id="iterateEffects" class="pt-touch-button">next page</button>
<div id="settings_btn"><span class="settings"></span></div>
<div id="page_ind">
	<span class="page_i selected"></span>
	<span class="page_i"></span>
	<span class="page_i"></span>
	<span class="page_i"></span>
</div>
  <div class="pt-triggers">
     
    </div><!-- /triggers -->
<div id="bg_wrapper">
<div id="pt-main" class="pt-perspective">
      <div class="pt-page pt-page-1">
      	<div id="headline">
      		<div class="inner">
      			<h1>new.feed </h1>
      			<h2>You news... thats all</h2>
      		</div>
      	</div>

        <div class="wrapper">
        <div id="top_core"></div>
        <div class="inner" id="hacker">
        
ITEMS

        </div>
        </div>
      </div>
      <div class="pt-page pt-page-2">
        <div id="headline">
          <div class="inner">
            <h1>Engadget </h1>
            <h2>engadget news feed</h2>
          </div>
        </div>

        <div class="wrapper">
        <div id="top_core"></div>
        <div class="inner" id="engadget">

ITEMS        

        </div>
        </div>
</div>
<div class="pt-page pt-page-3">
        <div id="headline">
          <div class="inner">
            <h1>Wired</h1>
            <h2>wired</h2>
          </div>
        </div>

        <div class="wrapper">
        <div id="top_core"></div>
        <div class="inner" id="wired">
        
ITEMS

        </div>
        </div>
</div>
</div>
</div>
<script src="js/jquery10.8.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/waypoints-sticky.min.js"></script>
<script src="js/jquery.dlmenu.js"></script>
<script src="js/pagetransitions.js"></script>
<script src="js/core.js"></script>
</body>
</html>
