{% include 'container-top.twig' %}

        <div id="st-accordion" class="st-accordion">
          
          <ul id="items">

          </ul>

        </div>
    
    </div>
  
  </div>

</div>

{% include 'container-bottom.twig' %}

<script type="text/javascript">
  $(function() {
    hackerNews.loadItems({{id}});
  });
</script>